<%
  model_name = Message.model_name.human

  action = @message.id.nil? ? 'new' : 'edit'
  legend = t("app.title.#{action}_instance", :instance => model_name)

%>
<%= form_for(@message) do |f| %>
  <%= render 'shared/form_errors', :instance => @message %>
  <%= field_set_tag legend do %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, :autofocus => true %>
    </div>
    <div class="field">
      <%= f.label :text %>
      <%= f.text_area :text %>
    </div>
    <div class="button">
      <%= f.submit t(@message.id.nil? ? 'app.action.create' : 'app.action.update') %>
    </div>
    <div class="hint">
      <%= t('app.hint.markdown_syntax').html_safe %>
    </div>
  <% end %>
<% end %>
