<h2><%= @message.title %></h2>
<div class="box">
  <%= markdown(@message.text) %>
</div>
<div class="info">
  <%= l(@message.updated_at, format: :mdatetime) %>
  |
  <%= current_user.has_role?(:meta_admin) ? link_to(@message.user.email, user_path(@message.user)) : @message.user.email %>
</div>
<%= render 'shared/links_model_modify', :record => @message %>
