<%
  model_name = Customer.model_name.human

  action = @customer.id.nil? ? 'new' : 'edit'
  legend = t("app.title.#{action}_instance", :instance => model_name)

%>
<%= form_for [:accounting, @customer] do |f| %>
  <%= render 'shared/form_errors', :instance => @customer %>
  <%= field_set_tag legend do %>
    <%= render 'shared/form_address_fields', :form => f %>
    <div class="button">
      <%= f.submit t(@customer.id.nil? ? 'app.action.create' : 'app.action.update') %>
    </div>
  <% end %>
<% end %>
