<%
  model = User.model_name.human

  if @user == @current_user
    legend = t('app.title.account_settings')
  else
    action = @user.id.nil? ? 'new' : 'edit'
    legend = t("app.title.#{action}_model", :model => model)
  end

%>
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('activerecord.errors.template.header', :model => model, :count => @user.errors.count) %></h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= field_set_tag legend do %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, :autocomplete => 'off' %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
    <% if current_user.id != @user.id || current_user.has_role?(:mandator_admin) %>
      <div class="field">
        <%= f.check_box :activated %>
        <%= f.label :activated %>
      </div>
      <% if current_user.has_role? :meta_admin %>
        <div class="field">
          <%= f.label :mandator %>
          <%= f.hidden_field :mandator_id %>
          <%= f.autocomplete_field :mandator_name, autocomplete_mandator_name_users_path, :id_element => :mandator_id %>
        </div>
        <%= f.label Role.model_name.human %>
        <% for role in Role.all %>
        <div class="field">
          <%= check_box_tag 'user[role_ids][]', role.id, @user.role_ids.include?(role.id), {:id => "user_#{role.name}"} %>
          <%= f.label role.name %>
        </div>
        <% end %>
      <% end %>
    <% end %>
    <div class="button">
      <%= f.submit t(@user.id.nil? ? 'app.action.create' : 'app.action.update') %>
    </div>
  <% end %>
<% end %>
