<%
  model_name = Invoice.model_name.human

  action = @invoice.id.nil? ? 'new' : 'edit'
  legend = t("app.title.#{action}_instance", :instance => model_name)
%>
<%= nested_form_for [:accounting, @invoice] do |f| %>
  <%= render 'shared/form_errors', :instance => @invoice %>
  <%= field_set_tag legend, :class => "columns" do %>
    <div class="left">
      <div class="field">
        <%= f.label :distributor_id %>
        <%= f.collection_select :distributor_id, Distributor.accessible_by(current_ability), :id, :name, :prompt => true, :tabindex => 1, :autofocus => true %>
      </div>
      <div class="left">
        <div class="field">
          <%= f.label :invoice_number %>
          <%= f.number_field :invoice_number, :tabindex => 3 %>
        </div>
      </div>
      <div class="right">
        <div class="field">
          <%= f.label :invoice_date %>
          <%= f.text_field :invoice_date, :tabindex => 4, :class => "date_select", :placeholder => 'yyyy-mm-dd' %>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="field">
        <%= f.label :customer_id %>
        <%= f.collection_select :customer_id, Customer.accessible_by(current_ability), :id, :name, :prompt => true, :tabindex => 2 %>
      </div>
      <div class="left">
        <div class="field">
          <%= f.label :delivery_date %>
          <%= f.text_field :delivery_date, :tabindex => 5, :class => "date_select", :placeholder => 'yyyy-mm-dd'  %>
        </div>
      </div>
      <div class="right">
        <div class="field">
          <%= f.label :value_date %>
          <%= f.text_field :value_date, :tabindex => 6, :class => "date_select", :placeholder => 'yyyy-mm-dd' %>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <h3><%= InvoiceItem.model_name.human(:count => 2) %></h3>
    <table id="invoice_items" class="form">
      <thead>
        <tr>
          <% [:name, :price, :quantity, :tax, :benefit, :benefit_is_relative, :currency].each do |a| %>
          <%= content_tag :th, InvoiceItem.human_attribute_name(a), :class => a %>
          <% end %>
          <th class="destroy"></th>
        </tr>
      </thead>
      <tbody>
        <%= f.fields_for :invoice_items, :wrapper => false %>
      </tbody>
    </table>
    <div class="link"><%=
      f.link_to_add t('app.label.add_instance', :instance => InvoiceItem.model_name.human),
        :invoice_items, :data => { :target => "#invoice_items" }, :class => 'icon add'
    %></div>
    <h3><%= Attachment.model_name.human(:count => 2) %></h3>
    <table id="attachments" class="form">
      <thead>
        <tr>
          <% [:name, :file].each do |a| %>
          <%= content_tag :th, Attachment.human_attribute_name(a), :class => a %>
          <% end %>
          <th class="destroy"></th>
        </tr>
      </thead>
      <tbody>
      <%= f.fields_for :attachments, :wrapper => false %>
      </tbody>
    </table>
    <div class="link"><%=
      f.link_to_add t('app.label.add_instance', :instance => Attachment.model_name.human),
        :attachments, :data => { :target => "#attachments" }, :class => 'icon add'
    %></div>
    <div class="button">
      <%= f.submit t(@invoice.id.nil? ? 'app.action.create' : 'app.action.update') %>
    </div>
  <% end %>
<% end %>
