<p class='change_details_description'>
  <span class='event'><%= version.event %></span> |
  <span class='item_type'><%= t("activerecord.models.#{version.item_type.downcase}", :count => 1) %></span> |
  <span class='item_id'>ID <%= version.item_id %></span>
  <% if PaperTrailManager.whodunnit_class && version.whodunnit %>
    <% if user = PaperTrailManager.whodunnit_class.find(version.whodunnit) rescue nil %>
      | <%= link_to(h(user.send(PaperTrailManager.whodunnit_name_method)), user_path(user)) %>
    <% end %>
  <% end %>
  <% if change_revert_allowed?(version) %>
    <%= link_to t('app.action.rollback'), change_path(version), :method => 'put', :confirm => t('app.confirm.are_you_sure'), :class => 'icon rollback' %>
  <% end %>
</p>
<% if version.event == 'update' or version.event == 'create' %>
  <% changes = changes_for(version) %>
  <table class='change_details_table'>
    <% changes.keys.sort.each_with_index do |key, i| %>
      <tr>
        <td class='change_detail_key previous'><%= key %></td>
        <td class='change_detail_value previous'><%= text_or_nil(changes[key][:previous]) %></td>
        <td class='change_detail_spacer'>&rarr;</td>
        <td class='change_detail_value current'><%= text_or_nil(changes[key][:current]) %></td>
      </tr>
    <% end %>
  </table>
<% end %>
