<h2><%= @mandator.name %></h2>
<div class="box">
<h3>
  <%= User.model_name.human(:count => 2) %>
  <% if can? :create, User %>
    <span><%= link_to image_tag('icons/page_white_add.png')+' '+t('app.label.new_model', :model => User.model_name.human), new_user_path %></span>
  <% end %>
</h3>
<%= render 'shared/grid_users' %>
</div>
<%= render 'shared/links_instance_modify', :instance => @mandator %>
